<%- include('includes/header') %>
<%- include('includes/modal') %>

    <main>
        <!--? slider Area Start-->
        <section class="slider-area ">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-7 col-md-12">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInLeft" data-delay="0.2s">Transform Hiring with AI– Hire Top Talent
                                    </h1>
                                    <p data-animation="fadeInLeft" data-delay="0.4s">Pre-Evaluated by Intelligent Systems. </p>
                                    <% if (user) { %>

                                        <a href="/users/<%- user.id %>/edit" class="btn hero-btn"
                                            data-animation="fadeInLeft" data-delay="0.7s">Evaluate Your Skills</a>

                                        <% }else{%>
                                            <a href="#" id="myBtn" class="btn hero-btn" data-animation="fadeInLeft"
                                                data-delay="0.7s">Login</a>
                                            <a href="/Register" class="btn hero-btn" data-animation="fadeInLeft"
                                                data-delay="0.7s">Sign
                                                Up</a>

                                            <% } %>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ? services-area -->
        <div class="services-area">
            <div class="container">
                <div class="row justify-content-sm-center">
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="single-services mb-30">
                            <div class="features-icon">
                                <img src="assets/img/icon/icon1.svg" alt="">
                            </div>
                            <div class="features-caption">
                                <h3>500+ Open Jobs</h3>
                                <p> Auto-apply based on your skills.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="single-services mb-30">
                            <div class="features-icon">
                                <img src="assets/img/icon/icon2.svg" alt="">
                            </div>
                            <div class="features-caption">
                                <h3>10000+ Job Seekers</h3>
                                <p>Use Filters and Select pre-evaluted Profiles.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="single-services mb-30">
                            <div class="features-icon">
                                <img src="assets/img/icon/icon3.svg" alt="">
                            </div>
                            <div class="features-caption">
                                <h3>Free Skill Evaluation </h3>
                                <p> 
                                     Let AI find and apply for your best-fit jobs.

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Courses area start -->

    </main>
    <%- include('includes/footer') %>